#section_3{
    margin-top: 5rem;
}

.section_3_contenedor{
    position: relative;
    width: 100%;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    background: #191817;
    box-shadow: 0 20px 30px 20px rgb(63, 63, 63);

  }

  .section_3_custom{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 2rem;
  }
  
  .section_3_custom p{
    color: white;
    font-family: "Montserrat";
    font-size: 1.2rem;
    width: 90%;
    text-align: center;
  }
  
  .section_3_custom h1{
    color: white;
    margin-bottom: 3rem;
    font-size: 2.7rem;
    font-family: "Bona Nova";
  }
  
  .section_3_img1{
    width: 100%;
    height: 100%;
    transition: all 0.5s ;
  }
  
  .section_3_img1 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .section_3_img2{
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .section_3_img2 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 1024px){

    .section_3_custom h1{
      font-size: 2rem;

    }

    .section_3_custom p{
      font-size: 1rem;
      margin-top: 0rem;
    }

    
  }

  @media screen and (max-width: 768px){

    .section_3_contenedor{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
      width: 80%;
      margin: 0 auto;
    }
  }

  @media screen and (max-width:600px){

    .section_3_contenedor{
      width: 100%;
    }

    .section_3_custom{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0;
    }

    .section_3_custom p{
      font-size: 1.15rem;
      text-align: center;
    }

    .section_3_custom h1{
      font-size: 2.6rem;
    }
    
  }


  