.socials{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 3.5rem;
    gap: 2rem;
    position: relative;
    margin-top: 4rem;
}

.socials a{
    transition: all 0.5s ease;
}

.facebook:hover{
    rotate: 10deg;
    scale: 1.1;

}

.linkedin:hover{
    rotate: 10deg;
    scale: 1.1;

}

.github:hover{
    rotate: -10deg;
    scale: 1.1;

}

.instagram:hover{
    rotate: -10deg;
    scale: 1.1;

}

.twitter:hover{
    rotate: 10deg;
    scale: 1.1;

}


.facebook{
    color: black;
}

.instagram{
    color: black;
}

.twitter{
    color: black;
}

@media screen and (max-width: 1500px){

    .socials{
        font-size: 3.4rem;
        margin-top: 2rem;
        gap:1.5rem;
    }
  
  }

  @media screen and (max-width: 1200px){

    .socials{
        font-size: 3.4rem;
        margin-top: 2rem;
    }
  
  }

@media screen and (max-width: 600px){
    
    .socials{
        margin-top: 2rem;
        font-size: 3.2rem;
    }
}