@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:wght@700&display=swap');

.dropdown{
    position: relative;
    width: 300px;
    height: 50px;
  }
  
  .dropdown input{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    background: rgb(255, 255, 255);
    box-shadow: 0 5px 20px rgba(0,0,0,0.05);
    outline: none;
    border: solid 2px rgb(153, 153, 153);
    font-family: "Montserrat";
    font-weight: bold;
  }
  
  .dropdown::before{
    content:'';
    position: absolute;
    top: 24px;
    right: 23px;
    width: 12px;
    height: 2px;
    background: rgb(128, 128, 128);
    z-index: 10;
    transform: rotate(40deg);
    transition: 0.3s;
    pointer-events: none;
  }
  
  .dropdown::after{
    content:'';
    position: absolute;
    top: 24px;
    right: 15px;
    width: 12px;
    height: 2px;
    background: rgb(128, 128, 128);
    z-index: 10;
    transform: rotate(-40deg);
    transition: 0.3s;
    pointer-events: none;

  }
  
  .dropdown .option{
    position: absolute;
    top: 60px;
    width: 0%;
    background: white;
    box-shadow: 0 30px 30px rgba(0,0,0,0.05);
    border-radius: 10px;
    z-index: 20;
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    font-family: 'Montserrat';
    font-weight: bold;
    transition: 0.3s;
 
  }
  
  .dropdown .option div{
    padding: 12px 20px;
    cursor: pointer;
    transition: all 0s ease;
  }
  
  .dropdown .option div:hover{
    background: rgb(39, 39, 39);
    color: white;
  }
  
  .dropdown.active .option{
    visibility: visible;
    opacity: 1;
    width: 100%;
  }
  
  
  .dropdown.active::before{
    right:20px;
    width: 18px;
  }
  
  .dropdown.active::after{
    right:20px;
    width: 18px;
  }
  
  @media  screen and (max-width: 1500px) {
    
      .dropdown{
        width: 200px;
      }

      .dropdown input{

        font-size: 14px;

      }
  }