.prob{
    margin-top: 1rem;
    margin-bottom:3rem;
}

.titulo_cat {
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
    font-family: "Bebas Neue";
    color: rgb(17, 17, 17);
}

@media screen and (max-width: 400px){

    .titulo_cat {
        font-size: 1.7rem;
    }
    

}